$color-primary: #0F205E;
$color-secondary: #f4d35e;
$color-accent: #f95738;
$color-special: #ee964b;

h1 {
    color: $color-primary;
}

h2 {
    color: $color-accent;
}

p {
    color: $color-primary;
}

@mixin spacing {
    padding: 10;
}


.btn {
    background-color: $color-accent;
    color: white;
}


.img-thumbnail {
    height: 400px;
    float: left;
    padding: 0px 20px;
    border: none;
}

.jumbotron{ 
	background-image: url('https://images.unsplash.com/photo-1484632105053-8662f3194e7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2719&q=80'); 
	background-size: cover; 
	background-repeat: no-repeat; 
}  