$color-primary: #0F205E;
$color-secondary: #f4d35e;
$color-accent: #f95738;
$color-special: #ee964b;

h1 {
    color: $color-primary;
}

p {
    color: $color-primary;
}

@mixin spacing {
    padding: 10;
}


.btn {
    background-color: $color-accent;
    color: white;
}